body {
    font-family: Arial;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: 0;
}

form {
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


button {
    background-color: rgb(76, 175, 173);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
